.action-count {
  text-align: center;
  background: skyblue;
  font-family: sans-serif;
  font-weight: bolder;
}

.buy-zone {
  display: none;
}

.container {
  width: 1500px;
}

#resources-remaining {
  display: none;
}

h3 {
  margin-top: 0px;
}

ul {
  list-style: none;
}

#screen2 {
  display: none;
}

.hide {
  display: none;
}

.screen1 {
  margin-top: 20px;
}

#goal {
  margin-bottom: 30px;
}

.form-control {
  width: 300px;
}

#playerOneNameDisplay, #playerTwoNameDisplay {
  color: green;
  font-style: italic;
}

#basic-rules {
  list-style: circle;
  margin-bottom: 30px;
}

li {
  padding-bottom: 3px;
}
